.board__card {
	color: inherit;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
	cursor: pointer;
	display: block;
	margin-bottom: 8px;
	&-name {
		font-size: 14px;
		padding: 6px 8px;
	}
	&.placeholder {
		background-color: rgba(0, 0, 0, 0.12);
		border-color: transparent;
		box-shadow: none;
		border-radius: 3px;
	}
	&-active {
		cursor: grabbing;
		transform: rotate(4deg);
	}
}